<mat-toolbar color="primary">
  <ng-container *ngIf="isConsumer === 'ROLE_CONSUMER'">
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </ng-container>

  <span>Cursos App |</span>
  <span>| {{ isConsumer }}</span>

  <span class="spacer"></span>

  <a *ngIf="!isLogged; else viewLogout" mat-button routerLink="/login">Login</a>

  <a *ngIf="!isLogged" mat-button routerLink="/register">Register</a>
</mat-toolbar>

<ng-template #viewLogout>
  <a mat-button (click)="onLogout()">Logout</a>
</ng-template>
